<!-- home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title> Buscar Pokémon </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre del Pokémon</ion-label>
    <ion-input [(ngModel)]="nombrePokemon"></ion-input>
  </ion-item>

  <!-- Botón para buscar Pokémon y redirigir a userlist -->
  <ion-button expand="block" (click)="buscarPokemon()"
    >Buscar Pokémon y redirigir a Userlist</ion-button
  >
</ion-content>
